## Probability of Winning a Lottery

Project with an aim to practice using python for calculating probabilities.

We will create functions that will help answer the quesions like:
* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

In [1]:
# Function that calculate factorials
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

#Function that calculate namber of combinations
def combinations(n, k):
    numerator = factorial(n)
    denominator = factorial(n-k) * factorial(k)
    return numerator / denominator

## Probability of winning a big prize

We will calculate the probability of winning the big prize (all 6 numbers out of 49 match the result) with a single ticket

In [2]:
def one_ticket_probability(numbers):
    outcomes = combinations(49, 6)
    p = round(100 / outcomes, 6)
    print('The probability of winning the lottery with numbers {} is:\n{:f}%'.format(numbers, p))

In [3]:
one_ticket_probability([1,2,3,4,5,6])

The probability of winning the lottery with numbers [1, 2, 3, 4, 5, 6] is:
0.000007%

## Historical Data Check for Canada Lottery

We will explore the historical data coming from the Canada 6/49 lottery downloaded from [Kaggle](https://www.kaggle.com/datasets/datascienceai/lottery-dataset)

In [4]:
import pandas as pd
lot = pd.read_csv('649.csv')

In [5]:
lot.shape

(3665, 11)

In [6]:
lot.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [7]:
lot.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

## Function for Historical Data Check

In [8]:
#Function that extracts all the winning six numbers from the historical data set
def extract_numbers(row):
    row = row[4:10]
    numbers = set(row.values)
    return numbers

#Extracting all winning numbers from the database
winning_numbers = lot.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [9]:
def check_historical_occurence(user_numbers, winning_numbers):
    user_numbers = set(user_numbers)
    bool_series = winning_numbers == user_numbers
    result = bool_series.sum()
    print('''Your number appeared {} times among lottery winning numbers.
Your chances to win the big prize in the next drawing using the combination {} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.'''.format(result, user_numbers))

In [10]:
check_historical_occurence([1,2,3,4,5,6], winning_numbers)

Your number appeared 0 times among lottery winning numbers.
Your chances to win the big prize in the next drawing using the combination {1, 2, 3, 4, 5, 6} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

## Multi-ticket Probability

We´ll calculate the probability for winning if a person buys several tickets

In [11]:
#Function that calculates the probability to win for a number of tickets
def multi_ticket_probability(x):
    outcomes = combinations(49, 6)
    prob = x / outcomes
    print('''The probability to win if you buy {} tickets is {:6f}%.'''
          .format(x, prob*100))

In [12]:
multi_ticket_probability(10)

The probability to win if you buy 10 tickets is 0.000072%.

In [13]:
multi_ticket_probability(1000000)

The probability to win if you buy 1000000 tickets is 7.151124%.

## Less Winning Numbers

We´ll write a function to allow the users to calculate probabilities for two, three, four, or five winning numbers.
* Inside the app, the user inputs:
    * six different numbers from 1 to 49; and
    * an integer between 2 and 5 that represents the number of winning numbers expected
* Our function prints information about the probability of having the inputted number of winning numbers.

In [14]:
def probability_less_6(i):
# i = {2,3,4,5}
    comb_i = combinations(6, i)
    rest_comb = combinations(43,6-i)
    good_outcomes = comb_i * rest_comb
    total_outcomes = combinations(49,6)  
    prob = (good_outcomes / total_outcomes)*100
    comb = round(total_outcomes / good_outcomes)
    print('''Your chances of having {} winning numbers with this ticket are {:.6f}%.
In other words, you have a 1 in {:,} chances to win.'''.format(i, prob, int(comb)))

In [15]:
for test_input in [2, 3, 4, 5]:
    probability_less_6(test_input)
    print('--------------------------')

Your chances of having 2 winning numbers with this ticket are 13.237803%.
In other words, you have a 1 in 8 chances to win.
--------------------------
Your chances of having 3 winning numbers with this ticket are 1.765040%.
In other words, you have a 1 in 57 chances to win.
--------------------------
Your chances of having 4 winning numbers with this ticket are 0.096862%.
In other words, you have a 1 in 1,032 chances to win.
--------------------------
Your chances of having 5 winning numbers with this ticket are 0.001845%.
In other words, you have a 1 in 54,201 chances to win.
--------------------------